body {
}

/*NAVBAR*/
nav#navigator.navbar navbar-inverse navbar-static-top {
    margin-top:0px;
    margin-bottom:0px;
    padding:0px;
    background-color: darkslategrey;
    color: white;
}

#largeImage {
     margin: 0px 0px 0px 0px;
     padding: 0px 0px 0px 0px;
}
#smallImage {
     margin: 0px 0px 0px 0px;
     padding: 0px 0px 0px 0px;
}
.santAnna {
    background-image:url(Images/tuscany-villas-sant-anna.jpg);
    background-size:contain; 
    background-repeat:no-repeat;
    background-position:center;
    max-width:100%;
    height: 420px;   
    text-align:center;
    color:white;
}
.map {
    max-width:100%;
    height:420px;
}

.sectionHeaders {
    text-align:center;
    color:white;
    background-color: darkslategrey;
    padding-top:10px;
    padding-bottom:10px;
    margin: 0px 0px 0px 0px;
}

.locationSegmentOdd {
    padding-top:40px;
    padding-right:20px;
    padding-bottom:40px;
    padding-left:20px;
}

.locationSegmentEven {
    padding-top:40px;
    padding-right:20px;
    padding-bottom:40px;
    padding-left:20px;
    background-color:darkslategrey;
}

#locationTextOdd {
    color: darkslategrey;
}

#locationTextEven {
    color: white;
}

.buttonOdd {
    background-color: darkslategrey;
    color: white;
}

.buttonEven {
    background-color: white;
    color: darkslategrey;
}

.amenitiesRowOne {
    padding-top:40px;
    height:450px;
}
.amenitiesRowTwo {
    height:450px;
}

.amenitiesRowThree {
    padding-bottom:40px;
    height:450px;
}

.amenitiesWithPhoto {
    text-align:center;
    vertical-align:middle;
}

.buttonAmenitiesLg {
    background-color:rgba(80,80,80,0.6);
    color:white;
    text-wrap:normal;
    /*transparency*/
}
#receptions {
    background-image:url(Images/3b-348x348.jpg);
    background-size:contain; 
    background-repeat:no-repeat;
    background-position:center;
    height:400px;
    max-width:100%;
}
#pool {
    background-image:url(Images/42-348x348.jpg);
    background-size:contain; 
    background-repeat:no-repeat;
    background-position:center;
    height:400px;
    max-width:100%;
}
#home {
    background-image:url(Images/314-348x348.jpg);
    background-size:contain; 
    background-repeat:no-repeat;
    background-position:center;
    height:400px;
    max-width:100%;
}
#views {
    background-image:url(Images/Villa-Rucellai-Toscani-2812-2-348x348.jpg);
    background-size:contain; 
    background-repeat:no-repeat;
    background-position:center;
    height:400px;
    max-width:100%;
}
#dining {
    background-image:url(Images/Villa-Vanna-231-348x348.jpg);
    background-size:contain; 
    background-repeat:no-repeat;
    background-position:center;
    height:400px;
    max-width:100%;
}


.amenitiesWithoutPhoto {
    text-align:center;
}
.buttonAmenitiesSm {
    background-color: darkslategrey;
    color: white;
}

/*CAROUSEL*/
.item {
    text-align:center;
    vertical-align:middle;
    padding-top:50px;
    padding-bottom:50px;
}
.userReview {
    font-style: italic;
}
.carousel-indicators li {
  background-color: darkslategrey;
  background-color: rgba(80,80,80,0.25);
}

.carousel-indicators .active {
  background-color: darkslategrey;
}

/*CONTACT*/
.contactInfo {
    padding-top:50px;
    padding-left:40px;
}
.contactForm {
    padding-top:50px;
    padding-bottom:50px;
    padding-right:40px;
}
#name {
    height:25px;
    width:300px;
}
#email {
    height:25px;
    width:300px;
}
#comments {
    width:100%
}
#submitForm {
    background-color: darkslategrey;
    color: white;
    text-align:right;
}

/*FOOTER*/
