body {
}

/*NAVBAR*/
#navigator {
    padding:0px 0px 0px 0px;
    margin:0px 0px 0px 0px;
    background-color: darkslategrey;
    color: white;
}

/*JUMBOTRON*/
.santAnna {
    background-image:url(Images/tuscany-villas-sant-anna.jpg);
    background-size:cover; 
    background-repeat:no-repeat;
    background-position:center;
    max-width:100%;
    height: 400px;   
    padding:0px 0px 0px 0px;
    margin:0px 0px 0px 0px;
    text-align:center;
    color:white; 
}
.map {
    max-width:100%;
    height:400px;
    padding:0px 0px 0px 0px;
    margin:0px 0px 0px 0px;
}

/*SECTION HEADERS*/
.sectionHeaders {
    text-align: center;
    color: white;
    background-color: darkslategrey;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0px 0px 0px 0px;
    max-height:100%;
    max-width:100%;
}

/*LOCATIONS*/
.locationSegmentOdd {
    padding-top:40px;
    padding-right:40px;
    padding-bottom:40px;
    padding-left:40px;
}
.locationSegmentEven {
    padding-top:40px;
    padding-right:40px;
    padding-bottom:40px;
    padding-left:40px;
    background-color:darkslategrey;
}
.locationTextOdd {
    color: darkslategrey;
    padding-top:20px;
}
.locationTextEven {
    color: white;
    padding-top:20px;
}
.buttonOdd {
    background-color: darkslategrey;
    color: white;
}
.buttonEven {
    background-color: white;
    color: darkslategrey;
}

/*AMENITIES*/
.amenitiesRowOne {
    margin-top:40px;
    margin-left:25px;
    margin-right:25px;
    height:410px;
}
.amenitiesRowTwo {
    margin-left:25px;
    margin-right:25px;
    height:410px;
}
.amenitiesRowThree {
    margin-bottom:40px;
    margin-left:25px;
    margin-right:25px;
    height:410px;
}

.amenitiesWithPhoto {
    text-align:center;
}
.buttonAmenitiesLg {
    background-color:rgba(80,80,80,0.6);
    color:white;
    text-wrap:normal;
    margin-top:200px;   
}
#receptions {
    background-image:url(Images/3b-348x348.jpg);
    background-size:contain; 
    background-repeat:no-repeat;
    background-position:center;
    height:410px;
    max-width:100%;
}
#pool {
    background-image:url(Images/42-348x348.jpg);
    background-size:contain; 
    background-repeat:no-repeat;
    background-position:center;
    height:410px;
    max-width:100%;
}
#home {
    background-image:url(Images/314-348x348.jpg);
    background-size:contain; 
    background-repeat:no-repeat;
    background-position:center;
    height:410px;
    max-width:100%;
}
#views {
    background-image:url(Images/Villa-Rucellai-Toscani-2812-2-348x348.jpg);
    background-size:contain; 
    background-repeat:no-repeat;
    background-position:center;
    height:410px;
    max-width:100%;
}
#dining {
    background-image:url(Images/Villa-Vanna-231-348x348.jpg);
    background-size:contain; 
    background-repeat:no-repeat;
    background-position:center;
    height:410px;
    max-width:100%;
}

.amenitiesWithoutPhoto {
    text-align:center;
    padding-top:40px;
}
.buttonAmenitiesSm {
    background-color: darkslategrey;
    color: white;
}

/*REVIEWS SECTION HEADER*/
.reviewsHeader {
    text-align: center;
    color: white;
    background-color: darkslategrey;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0px 0px 0px 0px;
    height:100%;
    max-width:100%;
}

/*CAROUSEL*/
.item {
    text-align:center;
    vertical-align:middle;
    padding-top:50px;
    padding-bottom:50px;
}
.userReview {
    font-style: italic;
}
.carousel-indicators li {
  background-color: darkslategrey;
  background-color: rgba(80,80,80,0.25);
}
.carousel-indicators .active {
  background-color: darkslategrey;
}

/*CONTACT*/
.contactInfo {
    padding-top:50px;
    padding-left:50px;
}
.contactForm {
    padding-top:50px;
    padding-bottom:50px;
    padding-right:50px;
    padding-left:30px;
}
#name {
    height:25px;
    width:340px;
}
#email {
    height:25px;
    width:340px;
}
#comment {
    width:100%
}
#submitForm {
    background-color: darkslategrey;
    color: white;
    text-align:right;
}

/*FOOTER*/
